<%= render "public/shared/header" %>

<div class="container">
  <div class="row align-items-center"   style="height: 400px">
    <div class="col-12">
      <p class="h4 text-center font-weight-bold">ご注文ありがとうございました！</p>
    </div>
  </div>
</div>