<%= render "public/shared/header" %>

<body>

  <div class="container" style="height: 650px">
    <div class="row align-items-center"   style="height: 400px">
      <div class="col-12">
        <p class="h4 text-center font-weight-bold">ご注文ありがとうございました！</p>
      </div>
    </div>
  </div>

</body>

<footer class="border"></footer>